body{background-color:rgb(0, 0, 0)}
h2{font-family: transformers;color: bisque;}
p{font-family: transformers;color: bisque;}
li{font-family:transformers;color:bisque;}
li{text-decoration:overline;}



@font-face{font-family: transformers;
    src:url('../css/Transformers/transfrm.ttf');}
.transformers{font-family: transformers;}


.menu_h{float:left;width:30%;background:#ff0000}
.menu_h li{display:inline;margin:0;padding:0;}
.menu_h a
{float:left;display:block;margin:1px;padding:5px;
text-decoration:none;color:#000;border-top-right-radius:8px;
background-color:#ccc;}
.menu_h a:hover {color:#FFF; font-size:1.2em;
background-color:#999;text-decoration:underline;}